<div class="container">
    <ul class="breadcrumb">
        <li class="active">Strona główna</li>
    </ul>

    <hr class="soften">

    <div class="row">
        <div id="sidebar" class="span3">
            <div class="well well-small">
                <h3>Filtry </h3>
                <form action="">
                    <div class="form-group">
                        <label>
                            <input type="checkbox" name="guziki" value="0"> Guziki
                        </label>
                    </div>

                    <div class="form-group">
                        <label>
                            <input type="checkbox" name="spinki" value="0"> Spinki
                        </label>
                    </div>

                    <div class="form-group">
                        <label>
                            <input type="checkbox" name="guziki" value="0"> Guziki
                        </label>
                    </div>

                    <div class="form-group">
                        <label>
                            <input type="checkbox" name="spinki" value="0"> Spinki
                        </label>
                    </div>

                    <div class="form-group">
                        <label>
                            <input type="checkbox" name="guziki" value="0"> Guziki
                        </label>
                    </div>

                    <div class="form-group">
                        <label>
                            <input type="checkbox" name="spinki" value="0"> Spinki
                        </label>
                    </div>

                    <input type="submit" name="filtruj" value="Filtruj" class="btn btn-block">
                </form>
            </div>
        </div>

        <div class="span9">
            <div class="well well-small">

                <h3>
                    <a class="btn btn-mini pull-right" href="Products" title="View more">
                        Zobacz wszystkie <span class="fa fa-plus"></span>
                    </a> Najnowsze produkty
                </h3>
                <hr class="soften" />

                <div class="row-fluid">
                    <ul class="thumbnails">
                        <li class="span4">
                            <div class="thumbnail">
                                <a class="zoomTool" href="ProductDetails">
                                    <span class="fa fa-search"></span>
                                    Podgląd
                                </a>

                                <a href="ProductDetails">
                                    <img src="Content/img/d.jpg" alt="">
                                </a>

                                <div class="caption">
                                    <h5>Koszula Droszula</h5>
                                    <h4>
                                        <a class="defaultBtn" href="ProductDetails" title="Click to view"><span class="fa fa-search"></span></a>
                                        <a class="shopBtn" href="#" title="add to cart"><span class="fa fa-plus"></span></a>
                                        <span class="pull-right">$22.00</span>
                                    </h4>
                                </div>
                            </div>
                        </li>

                        <li class="span4">
                            <div class="thumbnail">
                                <a class="zoomTool" href="ProductDetails">
                                    <span class="fa fa-search"></span>
                                    Podgląd
                                </a>

                                <a href="ProductDetails">
                                    <img src="Content/img/d.jpg" alt="">
                                </a>

                                <div class="caption">
                                    <h5>Koszula Droszula</h5>
                                    <h4>
                                        <a class="defaultBtn" href="ProductDetails" title="Click to view"><span class="fa fa-search"></span></a>
                                        <a class="shopBtn" href="#" title="add to cart"><span class="fa fa-plus"></span></a>
                                        <span class="pull-right">$22.00</span>
                                    </h4>
                                </div>
                            </div>
                        </li>

                        <li class="span4">
                            <div class="thumbnail">
                                <a class="zoomTool" href="ProductDetails">
                                    <span class="fa fa-search "></span>
                                    Podgląd
                                </a>

                                <a href="ProductDetails">
                                    <img src="Content/img/d.jpg" alt="">
                                </a>

                                <div class="caption">
                                    <h5>Koszula Droszula</h5>
                                    <h4>
                                        <a class="defaultBtn" href="ProductDetails" title="Click to view"><span class="fa fa-search"></span></a>
                                        <a class="shopBtn" href="#" title="add to cart"><span class="fa fa-plus"></span></a>
                                        <span class="pull-right">$22.00</span>
                                    </h4>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div> <!-- row -->
</div><!-- /container -->