    <div class="container">

        <ul class="breadcrumb">
            <li class="active">Wszystkie produkty</li>
        </ul>
        <hr class="soften">

        <div class="row">
            <div class="span3">
                <div class="well well-small">
                    <h3>Filtry </h3>
                    <form action="">
                        <div class="form-group">
                            <label>
                                <input type="checkbox" name="guziki" value="0"> Guziki
                            </label>
                        </div>

                        <div class="form-group">
                            <label>
                                <input type="checkbox" name="spinki" value="0"> Spinki
                            </label>
                        </div>

                        <div class="form-group">
                            <label>
                                <input type="checkbox" name="guziki" value="0"> Guziki
                            </label>
                        </div>

                        <div class="form-group">
                            <label>
                                <input type="checkbox" name="spinki" value="0"> Spinki
                            </label>
                        </div>

                        <div class="form-group">
                            <label>
                                <input type="checkbox" name="guziki" value="0"> Guziki
                            </label>
                        </div>

                        <div class="form-group">
                            <label>
                                <input type="checkbox" name="spinki" value="0"> Spinki
                            </label>
                        </div>

                        <input type="submit" name="filtruj" value="Filtruj" class="btn btn-block">
                    </form>
                </div>
            </div>

            <div class="span9">
                <div class="well well-small">
                    <h3>Wszystkie koszule </h3>

                    <div class="row-fluid">
                        <ul class="thumbnails">
                            <li class="span4">
                                <div class="thumbnail">
                                    <a href="ProductDetails" class="overlay"></a>
                                    <a class="zoomTool" href="ProductDetails"><span class="fa fa-search"></span> Podgląd</a>
                                    <a href="ProductDetails"><img src="../Content/img/a.jpg" alt=""></a>
                                    <div class="caption cntr">
                                        <p>Koszula</p>
                                        <p><strong> 22.00zł</strong></p>
                                        <h4><a class="shopBtn" href="#" title="Dodaj do koszyka"> Dodaj do koszyka </a></h4>
                                    </div>
                                </div>
                            </li>

                            <li class="span4">
                                <div class="thumbnail">
                                    <a href="ProductDetails" class="overlay"></a>
                                    <a class="zoomTool" href="ProductDetails"><span class="fa fa-search "></span> Podgląd</a>
                                    <a href="ProductDetails"><img src="../Content/img/d.jpg" alt=""></a>
                                    <div class="caption cntr">
                                        <p>Koszula</p>
                                        <p><strong> 22.00zł</strong></p>
                                        <h4><a class="shopBtn" href="#" title="Dodaj do koszyka"> Dodaj do koszyka </a></h4>
                                    </div>
                                </div>
                            </li>

                            <li class="span4">
                                <div class="thumbnail">
                                    <a href="ProductDetails" class="overlay"></a>
                                    <a class="zoomTool" href="ProductDetails"><span class="fa fa-search "></span> Podgląd</a>
                                    <a href="ProductDetails"><img src="../Content/img/e.jpg" alt=""></a>
                                    <div class="caption cntr">
                                        <p>Koszula</p>
                                        <p><strong> 22.00zł</strong></p>
                                        <h4><a class="shopBtn" href="#" title="Dodaj do koszyka"> Dodaj do koszyka </a></h4>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div> <!-- row-->
    </div><!-- container -->