@{
    ViewBag.Title = "About us";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<br />
<p align="justify">We cooperate with various shirt shops around the world to ease you a process of choosing a shirt that meets your requirements. 
    You no longer have to go outside your home and visit a clothing store just to select one shirt from many similar ones.
    You no longer have to go to the fitting room to find out that the chosen shirt is not what you were expecting. 
    Thanks to our comprehensive web service you only have to give some information about yourself during the registration process and that's all!
    The rest remains in the hands of our tool which will find shirts designed for you.</p>

<br />
<p>We were founded in 2017 in Warsaw and are going to develop for the future to steadily provide the best service.</p>
