@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<div class="well well-small">
    <hr class="soften" />
    <div class="row-fluid">
        <div class="span8 relative">

            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d9789.886061575166!2d21.0467135!3d52.1621201!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x8aa5b40b06643020!2sSzko%C5%82a+G%C5%82%C3%B3wna+Gospodarstwa+Wiejskiego+w+Warszawie!5e0!3m2!1spl!2spl!4v1484610044433" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            <div class="absoluteBlk">
                <div class="well wellsmall">
                    <h4>Szczegóły kontaku</h4>

                    <h5>
                        ul. Nowoursynowska 166<br />
                        Warszawa, 02-787<br /><br />

                        kontakt@pagename.com<br />
                        ﻿Tel 123-456-6780<br />
                        Fax 123-456-5679
                    </h5>
                </div>
            </div>
        </div>
    </div>
</div>
<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@yourshirt.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@yourshirt.com</a><br />
    <strong>Complaints:</strong> <a href="mailto:Complaints@example.com">Complaints@yourshirt.com</a><br />
    <strong>Job offers:</strong> <a href="mailto:Recrutation@example.com">Recrutation@yourshirt.com</a><br />
</address>

<br />
<p>Our consultants are available 24 hours a day 7 days in a week.</p>