@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    Your Shirt<br />
    Nowoursynowska 161l<br />
    <abbr title="Phone">Phone:</abbr>
    519 650 664
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@yourshirt.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@yourshirt.com</a>
</address>