@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Your Shirt</h1>
    <p class="lead">Find your favourite shirt.</p>
    <p style="font-size:medium">Quickly, easily and without standing in queues.</p>
</div>

<div class="row">
    <div class="col-md-7">
        <h2>This is a web service designed to find shirts for users based on data they provide.</h2>
        <br />
        <p>
            If you are new user register on our website and provide infromation necessary to makie it possible for us to find the best shirts for you. 
            If you already have an account on our website please log in and check if something new is waiting for you!
        </p>
    </div>
    <div>
        <img src="~/Image/shirt.jpg" alt="shirt">
    </div>
</div>